@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}

* {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
}

a {
  text-decoration: none;
  width: 100%;
}

h1,
h2 {
  font-weight: 200;
}

h1 {
  font-size: 1.75rem;
  opacity: 0.5;
  margin: 4rem auto 0;
  text-transform: capitalize;
}

h2 {
  font-size: 1.3rem;
  margin: 0;
}

p {
  font-size: 0.88rem;
  font-weight: 300;
  margin: 0px;
}

button {
  cursor: pointer;
  border: none;
}

textarea::placeholder,
input::placeholder,
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  opacity: 0.3;
  text-transform: capitalize;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  opacity: 0.3;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
}
button:disabled,
button[disabled] {
  opacity: 0.2;
  cursor: default;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
  box-shadow: 0 0 0px 1000px #ffffff inset;
}
